.App {
  background: rgb(40, 44, 52);
  color: white;
}

.App-header {
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(40, 44, 52, 0.75) 0%,
      rgba(40, 44, 52, 0.75) 80%,
      rgba(40, 44, 52, 1) 100%
    ),
    url(../assets/chess-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-weight: 200;
}

.App-learn-more {
  background-color: #ff8a00;
  border-color: transparent;
  background-image: linear-gradient(to top left, #ff8a00, #e52e71, #ff8a00);
  padding: calc(10px + 1vmin) calc(20px + 2vmin);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% 200%;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: calc(20px + 3vmin);
  font-size: calc(13px + 2vmin);
  display: block;
  margin-top: 10vh;
  cursor: pointer;
}

.App-learn-more:hover {
  background-color: #e52e71;
  background-position: right bottom;
  border-color: transparent;
  color: #fff;
  text-decoration: none;
}

.App-header h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(15px + 5vmin);
}

.App-header hr {
  border-color: #ff8a00;
  min-width: 7rem;
  border-width: 0.5rem;
}

.App-main {
  background: rgb(40, 44, 52);
  color: #ff8a00;
  min-height: 100vh;
  padding-top: 10vh;
}

.App-footer {
  min-height: 20vh;
  background-color: #000;
  padding: 1em 0;
  background-color: #8a4a0b;
  font-size: calc(10px + 1vmin);
}

.App-footer a {
  color: #ffa600;
  text-decoration: none;
}
